{% extends 'master.html' %}

{% block title %}
    Edit roba
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'demo_app:edit_roba' id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.naziv_robe.id_for_label }}">{{ form.naziv_robe.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.naziv_robe.id_for_label }}" name="{{ form.naziv_robe.name }}" value="{{ form.naziv_robe.value }}">
            {% if form.naziv_robe.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.naziv_robe.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.sifra_robe.id_for_label }}">{{ form.sifra_robe.label_tag }}</label>
            <textarea class="form-control" id="{{ form.sifra_robe.id_for_label }}" name="{{ form.sifra_robe.name }}" rows="1">{{ form.sifra_robe.value }}</textarea>
            {% if form.sifra_robe.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.sifra_robe.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.kolicina.id_for_label }}">{{ form.kolicina.label_tag }}</label>
            <textarea class="form-control" id="{{ form.kolicina.id_for_label }}" name="{{ form.kolicina.name }}" rows="1">{{ form.kolicina.value }}</textarea>
            {% if form.kolicina.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.kolicina.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.proizvodjac.id_for_label }}">{{ form.proizvodjac.label_tag }}</label>
            <textarea class="form-control" id="{{ form.proizvodjac.id_for_label }}" name="{{ form.proizvodjac.name }}" rows="1">{{ form.proizvodjac.value }}</textarea>
            {% if form.proizvodjac.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.proizvodjac.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Save"/>
        <input type="submit" class="btn btn-danger btn-lg" value="Delete"/>
    </form>

{% endblock %}